<form (submit)="submit()">
  <!-- this is how control is bound form component -->
  <ngbp-input
    [label]="'First Name'"
    [labelNgClass]="'custom-label-class'"
    [inputNgClass]="'custom-input-class'"
    [name]="'firstName'"
    [type]="'text'"
    [placeholder]="'First name'"
    [formControl]="formGroup.get('firstName')"
    [required]="true"
    [autofocus]="true"
    (blur)="logEvent($event)"
    (focus)="logEvent($event)"></ngbp-input>
  <br>
  <ngbp-input
    [label]="'Last Name'"
    [name]="'lastName'"
    [formControl]="formGroup.get('lastName')"></ngbp-input>
  <br>
  <ngbp-select
  [label]="'Order Options'"
  [name]="'optionList'"
  [options]="optionList"
  [formControl]="formGroup.get('dropdown')">

</ngbp-select>
  <br>
  <ngbp-textarea
    [label]="'Message'"
    [name]="'message'"
    [rows]="3"
    [required]="true"
    [formControl]="formGroup.get('message')"></ngbp-textarea>
  <br>

  <ngbp-radio-group
    [label]="'Order Options'"
    [name]="'orderOption'"
    [options]="optionList"
    [formControl]="formGroup.get('radio')">
  </ngbp-radio-group>
  <br>
  <ngbp-checkbox
    [label]="'Agree'"
    [name]="'agree'"
    [required]="true"
    [formControl]="formGroup.get('agree')">
  </ngbp-checkbox>


  <button type="submit" [disabled]="formGroup.invalid">Submit</button>

  <pre>
    {{ formGroup.valid | json}}
    {{ formGroup.value | json}}
    {{ formGroup.errors | json}}
    {{ formGroup.get('firstName').errors | json}}
    {{ formGroup.get('lastName').errors | json}}
    {{ formGroup.get('message').errors | json}}
  </pre>
</form>
